<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo-mobile.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/me/about.css">
    <title>Thông tin thêm</title>
</head>

<body>
    <main class="container">
        <!-- CONTAINER_TOP -->
        <article class="container__top">
            <div class="container__top__logo">
                <img width="43" height="30" src="/assets/images/me/logo-mobile.png" alt="Logo">
            </div>
            <div class="container__top__search">
                <input type="text" placeholder="City in here..." class="container__top__search__input">
                <i class="fas fa-search"></i>
            </div>
            <div class="container__top__icon">
                <i class="fas fa-align-justify"></i>
                <div class="container__top__icon__item">
                    <a href="javascript:void(0);">Host an Experience</a>
                    <a href="javascript:void(0);">Thành phố</a>
                    <a href="javascript:void(0);">Host</a>
                    <a href="/login">Login</a>
                </div>
            </div>
            <div class="container__top__menu">
                <a class="container__top__menu__host" href="javascript:void(0);">Host an Experience</a>
                <a class="container__top__menu__login" href="javascript:void(0);">Thành phố</a>
                <a class="container__top__menu__signup" href="/login">Sign up</a>
            </div>
        </article>
        <!-- END_CONTAINER_TOP -->












        <!-- FOOTER -->
        <footer class="container__footer">
            <div style="background-image: url('assets/images/me/imageFooter.jpg');"
                class="container__footer__backgroundImage">

            </div>

            <div class="container__footer__content">
                <div class="container__footer__content__left">
                    <p>Copyright LandedVibe 2019. Crafted in HaNoi.</p>
                    <img widht="200" height="28" src="/assets/images/me/logoFooter.svg" alt="Logo Footer">
                </div>

                <div class="container__footer__content__right">
                    <h1>Navigation</h1>
                    <a href="/">Trang chủ</a>
                    <a href="javascript:void(0);">Giới thiệu</a>
                    <a href="javascript:void(0);">Liên hệ</a>
                    <a href="javascript:void(0);">Chính sách bảo mật</a>

                </div>
            </div>
            <div class="container__footer__background">

            </div>
        </footer>
        <!-- END FOOTER -->

    </main>
</body>

    <script src="/assets/scripts/me/about.js"></script>
</html>