<!DOCTYPE html>
<html lang="en" ng-app="addDetail" ng-controller="addDetailController">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo-mobile.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/scss/addDetail.css">
    <title>Add Detail</title>
</head>

<body>
    <main class="container">
        <article class="container__top">
            <div class="container__top__logo">
                <a href="/"><img width="43" height="30" src="/assets/images/me/logo-mobile.png" alt="Logo"></a>
            </div>

            <div class="container__top__search">
                <input type="text" placeholder="City in here..." class="container__top__search__input">
                <i class="fas fa-search"></i>
            </div>

            <div class="container__top__icon">
                <i class="fas fa-align-justify"></i>
                <div class="container__top__icon__item">
                    <a href="javascript:void(0);">Host an Experience</a>
                    <a href="javascript:void(0);">Thành phố</a>
                    <a href="javascript:void(0);">Host</a>
                    <a href="/login">Login</a>

                </div>
            </div>

            <div class="container__top__menu">
                <a class="container__top__menu__host" href="javascript:void(0);">Host an Experience</a>
                <a class="container__top__menu__login" href="javascript:void(0);">Thành phố</a>
                <a class="container__top__menu__signup" href="/login">Sign up</a>
            </div>
        </article>
        <!-- END_CONTAINER_TOP -->

        <!-- CONTAINER_CENTER -->
        <section class="container__center">
            <header style="background-image: url('/assets/images/me/citiesImage/viet-wallpaper.jpg')"
                class="container__center__header">
                <h3>The Best Time Is Now. To Offer True Experiences!</h3>
            </header>

            <div class="container__center__title">
                <div class="font font--sobig font--bold">Create an activity</div>
                <div class="font font--normal">You are a local and you want to host an activity on LandedVibe? We have
                    prepared a simple and easy form below to get your started quickly.</div>

            </div>

            <form action="/adddetail" method="post" enctype="multipart/form-data">

                <div class="container__center__block">
                    <div class="container__center__block__part">
                        <div class="font font--big font--bold">Step 1: Something about you</div>
                        <input type="text" name="aboutHost" class="form-input block" placeholder="I am a tour guide...">
                        <input type="text" name="email" class="form-input block" placeholder="email">
                    </div>
    
                    <div class="container__center__block__part">
                        <div class="font font--big font--bold">Step 2: About your post</div>
    
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">Write a title for your activity</p>
                            <input type="text" name="title" class="form-input block" placeholder="title của bài viết">
                        </div>
    
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">Write a title for your activity</p>
                            <input type="text" name="about" class="form-input block" placeholder="about của bài viết">
                        </div>
    
    
                    </div>
                </div>
                

                <div class="container__center__block">
                    <div class="container__center__block__part">
                        <div class="font font--big font--bold">Step 3: About activity content</div>
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">What we wiil do</p>
                            <input type="text" name="toDo" class="form-input block" placeholder="toDo của bài viết">
                        </div>
    
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">What we will provide</p>
                            <input type="text" name="provide" class="form-input block" placeholder="provide của bài viết">
                        </div>
    
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">Who can do this</p>
                            <input type="text" name="who" class="form-input block" placeholder="who của bài viết">
                        </div>
    
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">Why you should do this</p>
                            <input type="text" name="why" class="form-input block" placeholder="why của bài viết">
                        </div>
    
    
                        <!-- <input type="text" name="where" class="form-input block" placeholder="where của bài viết"> -->
    
                    </div>
    
                    <div class="container__center__block__part">
                        <div class="font font--big font--bold">Step 4: About place</div>
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">City:</p>
                            
                            <select name="city" class="form-input block" id="city">
                                <option ng-repeat = "cityInfo in citiesInfo" value="{{cityInfo.name}}">{{cityInfo.name}}</option>
                                <option value="otherCity">Other city</option>
                            </select>
                            <input id="otherCity" style="display: none" type="text" name="otherCity" class="form-input block" placeholder="City">
                            
                        </div>
    
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">Image</p>
                            <input type="text" name="image" class="form-input block" placeholder="Image">
                        </div>
    
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">Choose your image of activities</p>
                            <input type="file" name="file" multiple>
                        </div>
    
    
    
                    </div>
                </div>
                

                <div class="container__center__block" style="border: none">
                    <div class="container__center__block__part">
                        <div class="font font--big font--bold">Step 5: About price</div>
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">Price</p>
                            <input type="text" name="value" class="form-input block" placeholder="5$">
                        </div>
    
                        <div class="container__center__block__part__option">
                            <p class="font font--bold font--italic font--space">...for</p>
                            <input type="text" name="time" class="form-input block" placeholder="2 hours">
                        </div>
    
    
                    </div>
    
                    <div class="container__center__block__part">
                        <div class="font font--big font--bold">Step 6: Star</div>
                        <div class="container__center__block__part__option">
                            <!-- <p class="font font--bold font--italic font--space">Price</p> -->
                            <input type="text" name="star" class="form-input block" placeholder="star của bài viết">
                        </div>
    
                    </div>
                </div>
                
                <button class="button" type="submit">Submit</button>
            </form>

        </section>
        <!-- END_CONTAINER_CENTER -->

        <!-- FOOTER -->
        <footer class="container__footer">
            <div style="background-image: url('../assets/images/me/imageFooter.jpg');"
                class="container__footer__backgroundImage">

            </div>

            <div class="container__footer__content">
                <div class="container__footer__content__left">
                    <p>Copyright LandedVibe 2019. Crafted in HaNoi.</p>
                    <img widht="200" height="28" src="/assets/images/me/logoFooter.svg" alt="Logo Footer">
                </div>

                <div class="container__footer__content__right">
                    <h1>Navigation</h1>
                    <a href="/">Trang chủ</a>
                    <a href="javascript:void(0);">Giới thiệu</a>
                    <a href="javascript:void(0);">Liên hệ</a>
                    <a href="javascript:void(0);">Chính sách bảo mật</a>

                </div>
            </div>
            <div class="container__footer__background">

            </div>
        </footer>
        <!-- END FOOTER -->
    </main>
</body>

<script src="/assets/scripts/me/addDetail.js"></script>
<script src="/assets/scripts/common/angular.min.js"></script>
<script src="/assets/server/angular/addDetailAngular.js"></script>
<script src="/assets/server/services/addDetailServices.js"></script>

</html>