<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo-mobile.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/me/admin.css">
    <title>Admin</title>
</head>

<body>
    <main class="container">

        <head>
        </head>
        <article class="container__top">
            <div class="container__top__logo">
                <a href="/"><img width="43" height="30" src="/assets/images/me/logo-mobile.png" alt="Logo"></a>
            </div>

            <div class="container__top__search">
                <input type="text" placeholder="City in here..." class="container__top__search__input">
                <i class="fas fa-search"></i>
            </div>

            <div class="container__top__icon">
                <i class="fas fa-globe-americas"></i>
                <div class="container__top__icon__item" id="container__top__icon__item__notification">
                    <a href="javascript:void(0);">Post Approval</a>
                    <a href="javascript:void(0);">City Approval</a>
                    <a href="javascript:void(0);">Thống kê</a>
                    <a href="javascript:void(0);">Quản lý thành viên</a>
                </div>
                <i class="fas fa-align-justify"></i>
                <div class="container__top__icon__item" id="container__top__icon__item__option">
                    <a href="javascript:void(0);">Host an Experience</a>
                    <a href="javascript:void(0);">Thành phố</a>
                    <a href="javascript:void(0);">Host</a>
                    <a href="/login">Login</a>

                </div>
            </div>

            <div class="container__top__menu">
                <a class="container__top__menu__host" href="javascript:void(0);">Host an Experience</a>
                <a class="container__top__menu__login" href="javascript:void(0);">Thành phố</a>
                <a class="container__top__menu__signup" href="/login">Sign up</a>
            </div>
        </article>
        <!-- END_CONTAINER_TOP -->
        <section class="container__center">

            <header style="background-image: url('/assets/images/me/background-admin.jpeg')"
                class="container__center__header">
                <h3>Make your website better!!</h3>
            </header>
            <div class="container__center__block">
                <div class="container__center__block__part">
                    <i class="fas fa-flag-checkered container__center__block__part__option"></i>
                    <div class="font font--bold font--blue font--space font--center">Post Approval</div>
                </div>
                <div class="container__center__block__part">
                    <i class="fas fa-city container__center__block__part__option"></i>
                    <div class="font font--bold font--blue font--space font--center">City Approval</div>
                </div>

            </div>
            <div class="container__center__block">
                <div class="container__center__block__part">
                    <i class="fas far fa-chart-bar container__center__block__part__option"></i>
                    <div class="font font--bold font--blue font--space font--center">Thống kê</div>
                </div>
                <div class="container__center__block__part">
                    <i class="fas fas fa-users container__center__block__part__option"></i>
                    <div class="font font--bold font--blue font--space font--center">Users Management</div>
                </div>
                <div class="container__center__block__part">
                    <i class="fab fab fa-facebook-messenger container__center__block__part__option"></i>
                    <div class="font font--bold font--blue font--space font--center">Message</div>
                </div>
            </div>

        </section>
        <!-- FOOTER -->
        <footer class="container__footer">
            <div style="background-image: url('../assets/images/me/imageFooter.jpg');"
                class="container__footer__backgroundImage">

            </div>

            <div class="container__footer__content">
                <div class="container__footer__content__left">
                    <p>Copyright LandedVibe 2019. Crafted in HaNoi.</p>
                    <img widht="200" height="28" src="/assets/images/me/logoFooter.svg" alt="Logo Footer">
                </div>

                <div class="container__footer__content__right">
                    <h1>Navigation</h1>
                    <a href="/">Trang chủ</a>
                    <a href="javascript:void(0);">Giới thiệu</a>
                    <a href="javascript:void(0);">Liên hệ</a>
                    <a href="javascript:void(0);">Chính sách bảo mật</a>

                </div>
            </div>
            <div class="container__footer__background">

            </div>
        </footer>
        <!-- END FOOTER -->
    </main>
    <script src="/assets/scripts/me/admin.js"></script>
</body>

</html>