<!DOCTYPE html>
<html lang="en" ng-app="city" ng-controller="cityController">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta http-equiv="refresh" content="2"/> -->
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo-mobile.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/me/city.css">
    <title>{{cityInfo.name}}</title>
</head>

<body>
    <main class="container">

        <!-- CONTAINER_TOP -->
        <article class="container__top">
            <div class="container__top__logo">
                <a href="/"><img width="43" height="30" src="/assets/images/me/logo-mobile.png" alt="Logo"></a>
            </div>

            <div class="container__top__search">
                <input type="text" placeholder="City in here..." class="container__top__search__input">
                <i class="fas fa-search"></i>
            </div>

            <div class="container__top__icon">
                <i class="fas fa-align-justify"></i>
                <div class="container__top__icon__item">
                    <a href="javascript:void(0);">Host an Experience</a>
                    <a href="javascript:void(0);">Thành phố</a>
                    <a href="javascript:void(0);">Host</a>
                    <a href="/login">Login</a>

                </div>
            </div>

            <div class="container__top__menu">
                <a class="container__top__menu__host" href="javascript:void(0);">Host an Experience</a>
                <a class="container__top__menu__login" href="javascript:void(0);">Thành phố</a>
                <a class="container__top__menu__signup" href="/login">Sign up</a>
            </div>
        </article>
        <!-- END_CONTAINER_TOP -->



        <!-- CONTAINER CENTER -->
        <section class="container__center">
            <header style="background-image: url('{{cityInfo.images[0].src}}')" class="container__center__header">
                <h1>{{cityInfo.name}} CITY</h1>
                <h3>All unique experiences and local activities</h3>
                <p>{{cityInfo.title}}</p>
            </header>
            <section class="container__center__content">
                <header>
                    <h1>Experiences and local activities in {{cityInfo.name}} City</h1>
                </header>

                <section>

                    <div class="container__center__content__cities">
                        <!--Conten_TOP_REATED-->
                        <div class="container__center__content__cities__container">
                            <!--Conten_TOP_REATED-->
                            <div ng-repeat="post in posts" class="container__center__content__cities__container__content">
                                <div class="container__center__content__cities__container__content__item">
                                    <div link="{{post.post.images[0].src}}"
                                        style="background-image: url('{{post.post.images[0].src}}');"
                                        class="container__center__content__cities__container__content__item__image clickImage">

                                    </div>
                                    <div class="container__center__content__cities__container__content__item__info">
                                        <div
                                            class="container__center__content__cities__container__content__item__info__left">
                                            <span>{{post.dola.value}} for {{post.dola.time}}</span>
                                        </div>
                                        <div
                                            class="container__center__content__cities__container__content__item__info__right">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>{{post.post.where.city}} City</span>
                                        </div>
                                    </div>

                                    <a href="/detail/{{post._id}}"
                                        class="container__center__content__cities__container__content__item__description">
                                        <span>
                                            {{post.post.title}}
                                        </span>
                                    </a>
                                    <div class="container__center__content__cities__container__content__item__star">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <span>32 reviews</span>
                                    </div>


                                </div>
                            </div>
                            <!--END_Conten_TOP_REATED-->


                        </div>
                        <!--END_Container_TOP_REATED-->

                    </div>


                </section>

                <footer>


                </footer>
            </section>

            <footer class="container__center__footer">

            </footer>

        </section>
        <!-- END CONTAINER CENTER  -->



        <!-- FOOTER -->
        <footer class="container__footer">
            <div style="background-image: url('/assets/images/me/imageFooter.jpg');"
                class="container__footer__backgroundImage">

            </div>

            <div class="container__footer__content">
                <div class="container__footer__content__left">
                    <p>Copyright LandedVibe 2019. Crafted in HaNoi.</p>
                    <img widht="200" height="28" src="/assets/images/me/logoFooter.svg" alt="Logo Footer">
                </div>

                <div class="container__footer__content__right">
                    <h1>Navigation</h1>
                    <a href="/">Trang chủ</a>
                    <a href="javascript:void(0);">Giới thiệu</a>
                    <a href="javascript:void(0);">Liên hệ</a>
                    <a href="javascript:void(0);">Chính sách bảo mật</a>

                </div>
            </div>
            <div class="container__footer__background">

            </div>
        </footer>
        <!-- END FOOTER -->

    </main>
</body>


<script src="/assets/scripts/me/cities.js"></script>
<script src="/assets/scripts/common/angular.min.js"></script>
<script src="/assets/server/angular/cityAngular.js"></script>
<script src="/assets/server/services/cityServices.js"></script>

</html>