<!DOCTYPE html>
<html lang="en" ng-app="home" ng-controller="homeController">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/assets/images/me/logo-mobile.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/me/home.css">
    <title>{{userMain.fullName}}</title>
</head>

<body>

    <main class="container">
        <!-- SHOW IMAGE -->
        <div class="container__show">
            <section style="display: none" class="container__show__backgroundImage">

            </section>
            <img style="display: none" width="500" height="300" src="/assets/images/me/whyus3.jpg"
                class="container__show__showImage">
            </img>
        </div>



        <!-- END SHOW IMAGE -->







        <header class="container__header topDownHeader">
            <!-- <div class="container__header__logo">
                <img width="180" height="25" src="/assets/images/me/logo.png" alt="Logo Travel Viet Nam">
            </div> -->


            <div class="container__header__logo">
                <ul>
                    <li>L</li>
                    <li>A</li>
                    <li>N</li>
                    <li>D</li>
                    <li>E</li>
                    <li>D</li>
                    <li>V</li>
                    <li>I</li>
                    <li>B</li>
                    <li>E</li>
                </ul>
            </div>

            <div class="container__header__center">
                <article>
                    <aside class="top-not-login">
                        <a class="a" href="javascript:void(0);">Trải nghiệm mới</a>
                        <a href="/login" class="b">Đăng nhập</a>
                        <a class="b" href="javascript:void(0);">Giới thiệu</a>
                    </aside>
                </article>

                <div>
                    <a href="/login">Đăng ký</a>
                </div>
            </div>
            <div class="container__header__icon">
                <i class="fas fa-align-justify"></i>
                <aside class="hidenMenu">
                    <a href="javascript:void(0);">Trải nghiệm mới</a>
                    <a href="javascript:void(0);">Thành phố</a>
                    <a href="/login">Đăng nhập</a>
                    <a href="javascript:void(0);">Giới thiệu</a>
                </aside>
            </div>
        </header>

        <section class="container__about">
            <div class="container__about__content">
                <div class="container__about__content__title">
                    <h1>Các trải nghiệm mới mẻ sẽ giúp bạn cảm thấy vui vẻ hơn đôi chút...</h1>
                </div>
                <div class="container__about__content__text">
                    <p> Chúng tôi làm cho việc đi đến hoặc ở trong một thành phố trở nên thú vị hơn với các hoạt động
                        sáng tạo và không chính thống, được cung cấp bởi các chủ nhà địa phương.</p>
                </div>
                <div class="container__about__content__search">
                    <input type="text" placeholder="Tìm kiếm thành phố cho bạn...">
                    <i class="fas fa-search"></i>
                    <article class="container__about__content__search__list">
                        <aside>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HaNoi</a>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HoChiMinh</a>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HaiPhong</a>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HaiDuong</a>
                            <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> HoaBinh</a>
                        </aside>
                    </article>
                </div>
            </div>
        </section>

        <section class="container__why">
            <!-- WHY_US_title -->
            <header class="container__why__title">
                <h1>Tại sao lại là chúng tôi?</h1>
            </header>
            <!--END_WHY_US_title-->

            <div class="container__why__container">
                <!-- content1 -->
                <div class="container__why__container__content fade">
                    <!-- WHY_US_Image -->
                    <div link="/assets/images/me/whyus1.png"
                        style="background-image: url('/assets/images/me/whyus1.png');"
                        class="container__why__container__content__image">
                    </div>
                    <!--END_WHY_US_IMaGE-->

                    <!-- WHY_US_TItle -->
                    <div class="container__why__container__content__title">
                        <h3>
                            Kinh nghiệm được thiết kế và chia sẻ bởi các chuyên gia.
                        </h3>
                    </div>
                    <!--END_WHY_US_Title-->

                    <!-- WHY_US_Content -->
                    <div class="container__why__container__content__content">
                        <h5>
                            Không có công cụ du lịch chính thống, chỉ có các Hoạt động nguyên bản nhất được tổ chức bởi
                            các chuyên gia địa phương tuyệt vời, chúng tôi ứng tuyển.
                        </h5>
                    </div>
                    <!--END_WHY_US_Content-->

                </div>

                <!-- content2 -->
                <div class="container__why__container__content fade">


                    <!-- WHY_US_Image -->
                    <div link="/assets/images/me/whyus2.jpg"
                        style="background-image: url('/assets/images/me/whyus2.jpg');"
                        class="container__why__container__content__image">

                    </div>
                    <!--END_WHY_US_IMaGE-->

                    <!-- WHY_US_TItle -->
                    <div class="container__why__container__content__title">
                        <h3>
                            Luôn nhiệt tình, sẵn sàng đáp ứng mọi yêu cầu.
                        </h3>
                    </div>
                    <!--END_WHY_US_Title-->

                    <!-- WHY_US_Content -->
                    <div class="container__why__container__content__content">
                        <h5>
                            Giống như một đứa trẻ, chúng tôi luôn muốn tìm tòi những thứ mới
                            tìm ra những vùng đất mới và khám phá chúng.
                        </h5>
                    </div>
                    <!--END_WHY_US_Content-->

                </div>

                <!-- content3 -->
                <div class="container__why__container__content fade">
                    <!-- WHY_US_Image -->
                    <div link="/assets/images/me/whyus3.jpg"
                        style="background-image: url('/assets/images/me/whyus3.jpg');"
                        class="container__why__container__content__image">

                    </div>
                    <!--END_WHY_US_IMaGE-->

                    <!-- WHY_US_TItle -->
                    <div class="container__why__container__content__title">
                        <h3>
                            Chúng thôi thật sự thú vị bạn có tin không?
                        </h3>
                    </div>
                    <!--END_WHY_US_Title-->

                    <!-- WHY_US_Content -->
                    <div class="container__why__container__content__content">
                        <h5>
                            Bạn sẽ được đi từ bất ngờ này đến những bất ngờ khác bởi những bạn sinh viên
                            trẻ trung sôi nổi của chúng tôi.
                        </h5>
                    </div>
                    <!--END_WHY_US_Content-->

                </div>
            </div>
            <!-- WHY_US_bot -->
            <div class="container__why__bot">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
            <!--END_WHY_US_bot-->
        </section>


        <!-- CONTAINER BODY -->
        <section class="container__body">
            <div class="container__body__content">
                
                <!-- Top rated -->

                <div class="container__body__content__topReated">
                    <div class="container__body__content__topReated__top">
                        <h1>Top rated activities</h1>
                        <h5>These are our best of the best, top-selling experiences on LandedVibe.</h5>
                    </div>


                    <!--Conten_TOP_REATED-->
                    <div class="container__body__content__topReated__container">
                        <!--Conten_TOP_REATED-->
                        <div ng-repeat="post in topPosts" class="container__body__content__topReated__container__content">
                            <div class="container__body__content__topReated__container__content__item">
                                <div link={{post.post.images[0].src}}
                                    style="background-image: url('{{post.post.images[0].src}}');"
                                    class="container__body__content__topReated__container__content__item__image clickImage">

                                </div>
                                <div class="container__body__content__topReated__container__content__item__info">
                                    <div
                                        class="container__body__content__topReated__container__content__item__info__left">
                                        <a _id={{post._id}} href="/detail/{{post._id}}">{{post.dola.value}} for {{post.dola.time}}</a>
                                    </div>
                                    <div
                                        class="container__body__content__topReated__container__content__item__info__right">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <a _city={{post.post.where.city}} href="/city/{{post.city}}">{{post.post.where.city}} City</a>
                                    </div>
                                </div>

                                <a  _id={{post._id}} href="/detail/{{post._id}}" class="container__body__content__topReated__container__content__item__description">
                                    <span>
                                        {{post.post.title}}
                                    </span>
                                </a>
                                <div class="container__body__content__topReated__container__content__item__star">
                                    {{post.star}}
                                    <i class="fas fa-star"></i>
                                    <a href="/detail/{{post._id}}"><span>{{post.post.comments.length}} reviews</span></a>
                                </div>


                            </div>
                        </div>
                        <!--END_Conten_TOP_REATED-->

                        

                    </div>
                    <!--END_Container_TOP_REATED-->



                    <div class="container__body__content__topReated__more">
                        <a href="javascript:void(0);" class="container__body__content__topReated__more__btn">See
                            more</a>
                    </div>


                </div>


                <!-- END __ TOP __ RATED-->


                <!-- The big cities -->

                <div class="container__body__content__bigCities">
                    <div class="container__body__content__bigCities__top">
                        <h1>The big cities</h1>
                        <h5>You will land your flight here in these cities. Expect to find more urban experiences, from
                            street games to peer-to-peer fun activities.</h5>
                    </div>


                    <div class="container__body__content__bigCities__container">



                        <!--Conten_The big cities-->
                        <div ng-repeat = "cityInfo in citiesInfo" class="container__body__content__bigCities__container__content">
                            <div class="container__body__content__bigCities__container__content__item">
                                <div link={{cityInfo.images[0].src}}
                                    style="background-image: url('{{cityInfo.images[0].src}}');"
                                    class="container__body__content__bigCities__container__content__item__image clickImage">
                                </div>
                                <div class="container__body__content__bigCities__container__content__item__info">
                                    <a href="/city/{{cityInfo.nameID}}">{{cityInfo.name}}</a>
                                </div>

                                <div class="container__body__content__bigCities__container__content__item__description">
                                    <span>
                                        {{cityInfo.title}}
                                    </span>
                                </div>

                            </div>
                        </div>
                        <!--END_The big cities-->

                    </div>

                    <div class="container__body__content__bigCities__more">
                        <a href="javascript:void(0);" class="container__body__content__bigCities__more__btn">See
                            more</a>
                    </div>

                </div>

                <!-- END The big cities -->
            </div>
        </section>

        <!-- END CONTAINER BODY -->



        <footer class="container__footer">
            <div style="background-image: url('assets/images/me/imageFooter.jpg');"
                class="container__footer__backgroundImage">

            </div>

            <div class="container__footer__content">
                <div class="container__footer__content__left">
                    <p>Copyright LandedVibe 2019. Crafted in HaNoi.</p>
                    <img widht="200" height="28" src="/assets/images/me/logoFooter.svg" alt="Logo Footer">
                </div>

                <div class="container__footer__content__right">
                    <h1>Navigation</h1>
                    <a href="/">Trang chủ</a>
                    <a href="javascript:void(0);">Giới thiệu</a>
                    <a href="javascript:void(0);">Liên hệ</a>
                    <a href="javascript:void(0);">Chính sách bảo mật</a>

                </div>
            </div>
            <div class="container__footer__background">

            </div>
        </footer>




    </main>





    <!-- LOAD FILE JAVASCRIPT -->

    
</body>
    <script src="/assets/scripts/common/angular.min.js"></script>
    <script src="/assets/server/angular/homeAngular.js"></script>
    <script src="/assets/server/services/homeServices.js"></script>
    <script src="/assets/scripts/me/home.js"></script>
</html>