<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký thành công</title>
</head>
<body>
    <h1 style="font-size: 100px;display: block; margin: 0 auto;">Đăng ký thành công : <a href="/login">Đăng nhập ngay</a></h1>
</body>

    <script>
        console.log(document.cookie.myData);
    </script>


</html>