* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  width: 100%;
  height: 100%; }

main,
section,
aside,
footer,
article,
header {
  display: block; }

/*Css Main*/
.container__top {
  display: flex;
  padding: 15px;
  height: 80px;
  line-height: 80px;
  position: relative; }
  .container__top__search {
    height: 100%;
    flex-grow: 2;
    line-height: 50px;
    width: 100%;
    max-width: 190px;
    margin-left: 20px; }
    .container__top__search__input {
      width: 100%;
      height: 100%;
      border: 2px solid #39d1e6;
      border-radius: 9999px;
      padding-left: 50px;
      font-size: 18px;
      outline: none; }
      .container__top__search__input:focus {
        box-shadow: 0 4px 8px 0 #39d1e6, 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .container__top__search .fa-search {
      position: absolute;
      top: 27px;
      left: 94px;
      font-size: 25px;
      color: gray;
      cursor: pointer; }
      .container__top__search .fa-search:active {
        color: white; }
      .container__top__search .fa-search:hover {
        color: #39d1e6; }
  .container__top__logo {
    line-height: 70px;
    cursor: pointer; }
  .container__top__icon {
    display: flex; }
    .container__top__icon__item {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      right: 20px;
      top: 68px;
      z-index: 3; }
      .container__top__icon__item a {
        display: block;
        width: 100%;
        background-color: #39d1e6;
        text-decoration: none;
        padding: 15px 20px;
        color: white;
        line-height: 20px;
        font-weight: 600;
        transition: 0.2s; }
        .container__top__icon__item a:hover {
          text-decoration: underline;
          color: #39d1e6;
          background-color: white;
          border: 1px solid #39d1e6; }
        .container__top__icon__item a:active {
          color: white;
          background-color: #39d1e6; }
    .container__top__icon #container__top__icon__item__option::after {
      position: absolute;
      content: "";
      border: 10px solid #ffffff00;
      border-bottom: 10px solid #39d1e6;
      top: -20px;
      right: 0px; }
    .container__top__icon #container__top__icon__item__notification::after {
      position: absolute;
      content: "";
      border: 10px solid #ffffff00;
      border-bottom: 10px solid #39d1e6;
      top: -20px;
      right: 36px; }
    .container__top__icon .fa-align-justify {
      position: absolute;
      right: 20px;
      top: 27px;
      font-size: 25px;
      color: #39d1e6; }
      .container__top__icon .fa-align-justify:hover {
        color: gray;
        cursor: pointer; }
      .container__top__icon .fa-align-justify:active {
        color: white;
        cursor: pointer; }
    .container__top__icon .fa-globe-americas {
      position: absolute;
      right: 55px;
      top: 27px;
      font-size: 25px;
      color: #39d1e6; }
      .container__top__icon .fa-globe-americas:hover {
        color: gray;
        cursor: pointer; }
      .container__top__icon .fa-globe-americas:active {
        color: white;
        cursor: pointer; }
  .container__top__menu {
    display: none; }
.container__center {
  background-color: #fff; }
  .container__center__header {
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .container__center__header::before {
      width: 100%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      background-image: linear-gradient(to right bottom, #222222, #191654);
      opacity: 0.45;
      z-index: 0; }
    .container__center__header h1 {
      display: block;
      font-size: 100px;
      background-image: url("/assets/images/me/rain.png");
      color: rgba(255, 255, 255, 0.9);
      background-clip: text;
      background-repeat: repeat;
      -webkit-background-clip: text;
      text-transform: uppercase;
      animation: backgroundImgae 100s linear infinite;
      padding: 80px 10px 10px 10px;
      z-index: 1;
      position: relative; }
    .container__center__header h3 {
      font-size: 28px;
      color: white;
      padding: 3em 10px;
      max-width: 400px;
      margin: 0 auto;
      z-index: 1;
      position: relative; }
    .container__center__header p {
      position: relative;
      margin: 0 auto;
      font-size: 18px;
      color: white;
      padding: 15px 15px 50px 15px;
      max-width: 400px;
      z-index: 1; }
  .container__center__title {
    padding: 1em 1em; }
  .container__center__block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center; }
    .container__center__block__part {
      margin: 1em 0;
      padding: 0 1em;
      max-width: 7em;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container__center__block__part__option {
        font-size: 3em;
        color: #39d1e6;
        border: solid 2px #39d1e6;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
        border-radius: 50%; }
        .container__center__block__part__option:hover {
          box-shadow: 5px 5px 0.2em #39d1e6;
          cursor: pointer; }
        .container__center__block__part__option:active {
          color: white;
          cursor: pointer; }
        .container__center__block__part__option:hover {
          box-shadow: 5px 5px 0.2em #39d1e6; }
.container__footer {
  width: 100%;
  height: 500px;
  position: relative; }
  .container__footer__backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1; }
  .container__footer__content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    max-width: 700px; }
    .container__footer__content__left {
      padding: 20px; }
      .container__footer__content__left p {
        margin: 90px 0 10px 0;
        color: white;
        font-size: 20px; }
      .container__footer__content__left image {
        margin: 50px 0 20px 20px; }
    .container__footer__content__right {
      padding: 20px; }
      .container__footer__content__right h1 {
        color: white;
        font-size: 28px; }
      .container__footer__content__right a {
        display: block;
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin-top: 5px; }
        .container__footer__content__right a:hover {
          color: #2fb2d3;
          text-decoration: underline; }
        .container__footer__content__right a:active {
          color: gray; }
  .container__footer__background {
    width: 100%;
    height: 100%;
    background-color: #2fb2d3;
    z-index: 2;
    opacity: 0.4;
    position: absolute; }

@media (min-width: 560px) and (max-width: 959px) {
  .container__center form .form-input {
    width: 30em;
    max-width: 30em; } }
@media (min-width: 1291px) {
  .container__center__title {
    max-width: 75%;
    margin: 0 auto; }
  .container__center__block {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 0; } }
@media (min-width: 930px) {
  .container__top__search {
    max-width: 30%; }
  .container__top__icon {
    display: none; }
  .container__top__menu {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 20px;
    height: 50px;
    line-height: 50px;
    z-index: 100; }
    .container__top__menu a {
      text-decoration: none; }
    .container__top__menu__host {
      font-weight: 700;
      color: #2fb2d3;
      margin-right: 20px;
      font-size: 20px; }
      .container__top__menu__host:hover {
        border-bottom: 1px solid #2fb2d3; }
      .container__top__menu__host:active {
        border-bottom: none; }
    .container__top__menu__login {
      text-align: center;
      width: 150px;
      text-decoration: none;
      display: inline-block;
      color: #2fb2d3;
      font-weight: 700;
      border: 2px solid #2fb2d3;
      border-radius: 9999px;
      margin-left: 10px; }
      .container__top__menu__login:hover {
        background-color: #2fb2d3;
        color: white;
        text-decoration: underline; }
      .container__top__menu__login:active {
        background-color: white;
        color: #2fb2d3; }
    .container__top__menu__signup {
      text-align: center;
      width: 180px;
      text-decoration: none;
      display: inline-block;
      color: white;
      font-weight: 700;
      border: 2px solid #2fb2d3;
      border-radius: 9999px;
      margin-left: 10px;
      padding: 0 15px;
      background-color: #2fb2d3; }
      .container__top__menu__signup:hover {
        background-color: #079494;
        color: white;
        border: 2px solid white;
        text-decoration: underline; }
      .container__top__menu__signup:active {
        background-color: #2fb2d3;
        color: white;
        border: 2px solid white; }
  .container__center__header h3 {
    font-size: 28px;
    color: white;
    padding: 6em 10px;
    max-width: 400px;
    margin: 0 auto;
    z-index: 1;
    position: relative; }
  .container__footer {
    height: 350px; }
    .container__footer__content {
      margin: 0 auto;
      padding-top: 50px; }
      .container__footer__content__left {
        float: left; }
        .container__footer__content__left p {
          margin-top: 23px; }
      .container__footer__content__right {
        float: right; } }
.displayMenu {
  animation: showMenu 0.5s forwards; }

@keyframes showMenu {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: 100% 100%; }
  to {
    opacity: 1;
    transform: scale(1);
    visibility: visible; } }
@keyframes backgroundImgae {
  0% {
    background-position: left 2000x top 0px; }
  100% {
    background-position: left 0px top 20000px; } }
.form-textarea {
  padding: 20px;
  border: 1px solid gray; }
  .form-textarea:focus {
    box-shadow: 2px 2px 5px aqua; }

.center {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%; }

.button {
  width: auto;
  background-color: #39d1e6;
  padding: 0.5em 1.5em;
  color: white;
  font-weight: 600;
  font-size: 1em;
  transition: 0.2s;
  border-radius: 9999em;
  border: 0.2em solid #39d1e6; }
  .button:hover {
    text-decoration: underline;
    color: #39d1e6;
    background-color: white;
    border: 0.2em solid #39d1e6; }
  .button:active {
    color: white;
    background-color: #39d1e6; }

.font {
  font-size: 1em;
  font-weight: normal;
  color: #000000; }

.font--normal {
  font-size: 1.2em; }

.font--big {
  font-size: 1.4em;
  padding: 0.5em 0; }

.font--sobig {
  font-size: 1.8em;
  padding: 0.5em 0em; }

.font--bold {
  font-weight: bold; }

.font--space {
  margin: 0.3em 0; }

.font--italic {
  font-style: italic; }

.font--blue {
  color: #39d1e6; }

.font--center {
  text-align: center; }

/*# sourceMappingURL=admin.css.map */
